* {
    margin: 0px;
    padding: 0px;

}

body {
    margin: 0px;
    padding: 0px;

}

html{
    margin: 0px;
}

.topo {
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #ffffff;
    border-bottom: 1px solid#DBDBDB;
}

.logo {
    width: 103px;
    height: 50px;
    top: 14px;
    gap: 0px;
    opacity: 0px;

}

.icones {
    display: flex;
    align-items: center;
    gap: 20px;
}

.ico {
    width: 22px;
    height: 22px;
    top: 16px;
    left: 1002px;
    gap: 10px;
    opacity: 0px;

}

.ico:hover {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid;
    pointer-events: none;
}

.layout_container {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    margin-left: 550px;

}




.stories {
    display: flex;
    border: 1px solid #DBDBDB;
    width: 614px;
    height: 88px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.stories_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.stories_img img {
    width: 50 px;
}

.stories_img p {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    text-align: center;
    width: 78px;
    height: 19px;
    top: 173px;
    left: 707px;
    gap: 0px;
    opacity: 0px;


}


.containerSidebar {
    position: absolute;
    /* usar posição absoluta */
    top: 100px;
    /* alinhar ao topo */
    right: 26%;
    /* alinhar à direita */
}

.side_bar {
    display: flex;
    gap: 10px;
    flex-direction: column;


}

.imagemParagrafoSidebar {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.img_destaque {
    width: 60px;
    height: 60px;
    border-radius: 200%;


}

.sidebar_items {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}

.sidebar_items img {
    width: 50px;
    height: 50px;
    top: 223px;
    left: 858px;
    gap: 0px;
    opacity: 0px;
    border-radius: 200%;


}



.text p {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 16.41px;
    text-align: left;
    padding-left: 30px;


}

.text span {
    padding-left: 30px;
    color: #C7C7C7;
}

.Sugestões {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.06px;
    text-align: left;
    color: #8E8E8E;
    margin-top: 20px;
    width: 117px;
    height: 15px;
    top: 191px;
    left: 858px;
    gap: 0px;
    opacity: 0px;

}

.alink {
    text-decoration: none;
    padding-left: 10px;
    color: #139EF2;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    text-align: right;

}

.textp {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    text-align: left;
    color: #262626;

}

/* Container */

.card {
    width: 614px;
    border: 1px solid #DBDBDB;
    height: 717px;
    margin-top: 50px;


}

.img_post {
    margin-top: 10px;
    max-width: 100%;
}

.topo_post {
    padding-left: 20px;
    display: flex;
    height: 50px;
    gap: 30px;
    align-items: center;


}

.imgpost1_icone {
    width: 32px;
    height: 32px;
    top: 245px;
    left: 232px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;

}

.posti_icones {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 30px;
    justify-content: space-between;
    padding-top: 10px;
}

.iconeTamanho {
    width: 22px;
    height: 22px;
    top: 913px;
    left: 230px;
    padding: 3.44px 2.75px 3.44px 2.75px;
    gap: 0px;
    opacity: 0px;

}

.bandeira {
    padding-right: 30px;
}


.icones_exibir_desktop {
    display: none;
}